NODE_ENV="local"

APP_PORT="3777"
APP_NAME="Template Api Monolith"
LOG_LEVEL="debug"

BASIC_USER=internal
BASIC_PASS=internal

DATABASE_URI="postgresql://<user>:<password>@<host>:<port>/<database>?schema=<schema>"
DATABASE_USER_URI="postgresql://<user>:<password>@<host>:<port>/<database>?schema=<schema>"

SENTRY_DSN=

RABBITMQ_NOTIFICATION_URI="amqps://user:pass@host/vhost"
RABBITMQ_NOTIFICATION_QUEUE="queue"

AWS_ENDPOINT_URL="https://localhost.localstack.cloud:4566"
AWS_ACCESS_KEY_ID="test"
AWS_SECRET_ACCESS_KEY="test"
AWS_SESSION_TOKEN=""
AWS_REGION="us-east-1"
AWS_S3_URL_EXPIRES_IN_SECONDS="3600"

NODE_EXECUTABLE="C:\Program Files\nodejs\node.exe"
